        body {
            margin: 0;
            padding: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            background-color: #f0f0f0;
        }

        h1 {
            background-color: red;
            color: white;
            border-radius: 4px;
        }

        form {
            display: flex;
            flex-direction: column;
            border-radius: 15px;
            overflow: hidden;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: border-radius 0.5s ease-in-out;
        }

        .row {
            display: flex;
            margin-bottom: 10px; /* промежуток между строками */
        }

        .small, .large {
            flex: 1;
            padding: 10px;
        }

        .large {
            display: flex;
            justify-content: space-between;
        }

        .container {
            padding: 20px;
        }

        .small {
            flex: 1;
            padding: 10px;
        }

        .large {
            flex: 3;
            padding: 10px;
            display: flex;
        }

        .left-small {
            flex: 1;
            /* background-color: lightgray; */
            padding: 10px;
            display: flex;
            align-items: center;
        }

        label {
            display: block;
        }

        input, select {
            width: 100%;
            background-color: #fcf4f4;
            border-radius: 4px;
        }

        .output-container {
            width: 100%;
            padding: 10px;
            max-height: 100px;
            overflow-y: auto;
        }

        .output-value {
            border-radius: 4px;
            margin: 10px 0;
            padding: 5px;
            border: 1px solid #ccc;
            background-color: #fcf4f4;
            max-height: 50px;
            overflow-y: auto;
        }

        .add-button {
            cursor: pointer;
            font-size: 24px;
        }

        /* Кнопки с красным фоном и белым текстом */
        .red-button, .add-button {
            background-color: red;
            color: white;
            margin-top: 10px; /* отступ от нижней границы формы */
            padding: 10px;
            border: none;
            border-radius: 5px;
            cursor: pointer;
        }

        .add-button {
            margin-left: 10px; /* промежуток между кнопками И и ИЛИ */
        }
        
