<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</head>
<body>
    <form action="/" method="POST">
        <div class="container">
            <h1>Задачи</h1>
            <div class="row">
                <div class="small">
                    <label for="taskname">Наименование задачи:</label>
                    <input type="text" id="taskname" name="taskname">
                </div>
                <div class="small">
                    <label for="prioritySelect">Приоритет:</label>
                    <select id="prioritySelect" name="prioritySelect">
                        <option value="средний">Средний</option>
                        <option value="высокий">Высокий</option>
                        <option value="низкий">Низкий</option>
                    </select>
                </div>
                <div class="small levels-container">
                    <label>Уровень:</label>
                    <div>
                        <input type="checkbox" id="senior" name="levels" value="Сеньёр">
                        <label for="senior">Сеньёр</label>
                    </div>
                    <div>
                        <input type="checkbox" id="middle" name="levels" value="Мидл">
                        <label for="middle">Мидл</label>
                    </div>
                    <div>
                        <input type="checkbox" id="junior" name="levels" value="Джун">
                        <label for="junior">Джун</label>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large">
                    <div class="left-small">
                        <span class="add-button" id="addValueButton2">Объединение</span>
                    </div>
                    <div class="left-small">
                        <span class="add-button" id="addValueButton">Логическое |</span>
                    </div>
                    <div class="left-small">
                        <span class="add-button" id="addValueButton1">Логическое & </span>
                    </div>
                    <div class="small">
                        <label for="InputedData">Вводимые данные:</label>
                        <select id="InputedData" name="InputedData">
                            <option value="Points.id">Номер</option>
                            <option value="Points.address">Адрес</option>
                            <option value="Points.connected">Когда подключена точка?</option>
                            <option value="Points.delivered">Карты и материалы доставлены?</option>
                            <option value="Points.days_last_card">Количество дней после выдачи последней карты</option>
                            <option value="Points.num_approved_app">Количество одобренных заявок</option>
                            <option value="Points.num_card">Количество выданных карт</option>
                        </select>
                    </div>
                    <div class="small">
                        <label for="Operators">Оператор:</label>
                        <select id="Operators" name="Operators">
                            <option value=">">Больше</option>
                            <option value="==">Равно</option>
                            <option value="<">Меньше</option>
                            <option value="!=">Не равно</option>
                            <option value="<=">Меньше или Равно</option>
                            <option value=">=">Больше или Равно</option>
                        </select>
                    </div>
                    <div class="small">
                        <label for="curvalue">Значение:</label>
                        <input type="text" id="curvalue" name="curvalue">
                    </div>
                </div>
            </div>        
            <input type="hidden" id="resArr" name="resArr" value=""> 
            <input type="submit" value="Отправить" class="red-button">
            <div class="row">
                <div class="output-container" id="outputValues" name="data">
                    <!-- Здесь будут выводиться значения полей -->
                </div>
            </div>
        </div>
    </form>
    <!-- {{entered_values}} -->
</body>
</html>